.content {
    width:320px;
    height:240px;

    overflow-y: auto;
    overflow-x: hidden;

    position: relative;

    font-family: "Roboto","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;

    background-color: #000;
    color: #fff;
}

.content::-webkit-scrollbar {
    display: none;
}
