/* You can add global styles to this file, and also import other style files */
body {
    margin:0;
    padding: 0;
}

button {
    width: 280px;
    height: 80px;

    display: block;

    font-family: Roboto;

    background-color: #000;
    border-color: #fff;
    color: #fff;
    text-decoration: none;

    font-size: 30px;

    margin: auto;
}
