body {
    margin: 0;
    padding: 0;
}

/*Root element of page content*/
#content {
    width: 320px;
    height: 240px;
    
    background-color: #000;
    color: #fff;

    font-family: Roboto;

    overflow-y: auto;
    overflow-x: hidden;

    position: relative;
}

#content::-webkit-scrollbar { 
    display: none; 
}

/*Clock State*/
#currentTime {
    margin: 0;

    width:100%;
    height: 100%;

    display:flex;

    align-items: center;
    justify-content: center;
}

#digits {
    font-size: 90px;
}

#alarmSetImg {
    left: 0;
    bottom: 0;

    width: 40px;
    height: 40px;

    margin-left: 2px;
    margin-bottom: 2px;

    position: absolute;
}

#alarmSetText {
    right: 0;
    bottom: 0;

    position: absolute;

    margin-bottom: 2px;
    margin-top: 0;
    margin-right: 2px;

    font-weight: bold;
    font-size: 20px
}

#alarmAmPm {
    font-size: 10px
}

/*Menu state*/

#menuTitle {
        text-align: center;
}
#menuList {
    padding: 0;
    margin: auto;
}

button {
    width: 280px;
    height: 80px;

    display: block;
    
    font-family: Roboto;

    background-color: #000;
    border-color: #fff;
    color: #fff;

    font-size: 30px;
}

button.menuOption {
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

/*Alarm State*/

#alarmBig {
    animation: shake 0.82s infinite both;
    display: block;
    margin: auto;
    width: 150;
}

#stopAlarm {
    margin: auto;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}